<p id="notice"><%= notice %></p>

<h1>Art Types</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>image</th>
      <th>Date</th>
      <th>Author</th>
      <th>Interpreter</th>
      <th>Dimention</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_types.each do |art_type| %>
      <tr>
        <td><%= art_type.title %></td>
        <td><img src="<%= art_type.link %>"></td>
        <td><%= art_type.date %></td>
        <td><%= art_type.author %></td>
        <td><%= art_type.interpreter %></td>
        <td><%= art_type.dimention %></td>
        <td><%= link_to 'Edit', edit_art_type_path(art_type) %></td>
        <td><%= link_to 'Destroy', art_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', emotions_path %>
<%= link_to 'New Art Type', new_art_type_path %>